<form action="/api/auth/newPassword" method="post">
<h4>Email: {{params.email}}</h4><br />
  New Password:<br />
  <input type="hidden" id="code" name="email" value={{params.email}} />
  <input type="hidden" id="email" name="code" value={{params.code}} />
  <input type="password" name="password" placeholder="Password" required /><br
  /><br />
  <input type="submit" value="Reset" />
</form>