<form action="/api/auth/register" method="post">
  First name:<br />
  <input type="text" name="first_name" placeholder="First name" required /><br /><br
  />
  Last name:<br />
  <input type="text" name="last_name" placeholder="Last name" required /><br /><br
  />
  Email:<br />
  <input type="text" name="email" placeholder="Email" required /><br /><br
  />
  Age:<br />
  <input type="text" name="age" placeholder="Age" required /><br /><br
  />
  Password:<br />
  <input type="password" name="password" placeholder="Password" required /><br
  /><br />
  <!-- submit button -->
  <input type="submit" value="Register" />
</form>