<form action="/api/auth/resetpassword" method="post">
  <!-- user input-->
  Email:<br />
  <input type="text" name="email" placeholder="Email" required /><br /><br
  />
  <!-- submit button -->
  <input type="submit" value="Restaurar contraseña"/>
</form>

<script src="/js/index.js"></script>